.l-contents {
  width: 980px;
  margin: 0 auto;
  position: relative;
  z-index: 1
}

.l-contents:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden
}

.l-contents>.l-main {
  float: right;
  width: 705px
}


h1.heading {
  font-size: 40px;
  font-size: 4rem
}

h1.heading,h2.heading,h3.heading,h4.heading,h5.heading,h6.heading {
  position: relative;
  line-height: 1.3;
  margin-bottom: 1em
}
h2.heading {
  font-size: 32px;
  font-size: 3.2rem
}

h1.heading.border-bottom,h2.heading.border-bottom,h3.heading.border-bottom,h4.heading.border-bottom,h5.heading.border-bottom,h6.heading.border-bottom {
  border-bottom: 1px solid #e6e8ec;
  margin-bottom: .6em;
  padding-bottom: 0.3em
}

.l-side {
  float: left;
  width: 235px
}
ol,ul {
  list-style: none
}
ul.menuList {
  border-top: 1px solid #e6e8ec;
  padding: 0;
}
ul.menuList>li {
  overflow: hidden;
  margin: 0;
  font-size: 13px;
  font-size: 1.3rem;
  position: relative;
  border-bottom: 1px solid #e6e8ec
}

ul.menuList>li a {
  display: block;
  color: #1e1e1e;
  padding: 0 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  line-height: 4em
}

ul.menuList>li a:after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-top: 2px solid #d3d7e0;
  border-right: 2px solid #d3d7e0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -5px
}

ul.menuList>li a:hover {
  background: #f6f6f6
}

ul.menuList>li.current {
  font-weight: 700
}

ul.menuList>li.current a {
  background: #e6e8ec
}

ul.menuList>li.current a:after {
  display: none
}

