.clear {
  clear: both
}
.media {
  font-size: 22px;
  letter-spacing: .01rem
}
#question-stats,.participation,.reply {
  position: relative;
  margin: 0;
  padding-bottom: .5em
}

@media (max-width: 767px) {
  #question-stats,.participation,.reply {
    border-radius:3px
  }
}

.media:first-child {
  margin-top: 0
}

.btn-primary {
  border-color: #01d18b;
}

.comments {
  clear: both
}

.Replies__From {
  margin-bottom: 80px
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out
}

.form-control:focus {
  outline: 0;
  outline: none
}

.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee
}

textarea.form-control {
  height: auto
}

.form-group {
  margin-bottom: 15px
}

