.video-row {
  background: #000
}

.video-row {
  min-height: 500px
}

@media (min-width: 768px) and (max-width:991px) {
  .container {
    width:768px
  }
}

@media (min-width: 992px) and (max-width:1099px) {
  .container {
    width:992px
  }
}

.next-lesson {
  background: #01d18b;
  padding: 8px 15px;
  color: #fff;
  position: absolute;
  top: 50%;
  z-index: 2;
  display: none;
  opacity: .7;
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}

.next-lesson.previous {
  left: 15px
}

.next-lesson.next {
  right: 15px
}

.video-row .col-md-10:hover .next-lesson {
  display: block;
  opacity: 1
}

.codecasts_video-dimensions.vjs-fluid {
  padding-top: 62.5%;
}
@media (min-width: 992px) {
  .col-md-10 {
    min-width: 100%
  }
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

h1.lesson-title {
  margin-bottom: 10px
}

h1.lesson-title {
  margin-top: 10px;
}

h1.lesson-title>a {
  font-size: 15px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-left: 4px;
  margin-right: 2px;
  color: #00adb5
}

h1.lesson-title>a:hover {
  text-decoration: none;
  color: #4e1214
}

h1.lesson-title > a, a.video-btn, button.video-btn {
  border: none;
  border-bottom: 1px solid #cbcbcb;
  background: #e7e7e7;
  color: #7b7b7b;
}

.lesson-title-meta {
  color: #999
}

.lesson-body {
  margin-top: .8em;
  padding-left: 0;
  line-height: 1.7em
}

.lesson-body,.lesson-title-meta {
  font-size: 16px
}

.social-share {
  font-family: "socialshare" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale
}